/* MT: Ideally, this would be a LESS or SASS file. However, for speed of development I'm running this from a local http server without Grunt or Gulp build tasks. */

.coin-counter-title {
    text-align: center;
}

.coin-counter-badge {
    position: absolute;
    top: 12%;
    right: 8%;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    font-size: 14px;
    color: #ffffff;
    line-height: 32px;
    text-align: center;
    background: #222222;
}

.coin-counter-circle {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    font-size: 28px;
    color: #878787;
    line-height: 120px;
    text-align: center;
    background: #d8d8d8;
}

/* MT: I'm overriding the default Material style here so that the underline on the input is visible in screenshots. */
.md-input-container.md-default-theme .md-input,
md-input-container .md-input {
    border-bottom-color: #878787;
}

.coin-counter-input-container,
.coin-counter-button-container {
    text-align: center;
}

@media (min-width: 0) and (max-width: 959px) {
}
