/* MT: Ideally, this would be a LESS or SASS file. However, for speed of development I'm running this from a local http server without Grunt or Gulp build tasks. */

.coin-counter-title {
    text-align: center;
}

.coin-counter-badge,
.coin-counter-circle {
    height: 0;
    border-radius: 50%;
    line-height: 0;
    text-align: center;
}

.coin-counter-badge {
    z-index: 2;
    position: absolute;
    top: 8%;
    right: 4%;
    width: 24%;
    padding: 12% 0;
    font-size: 14px;
    color: #ffffff;
    background: #222222;
}

.coin-counter-circle {
    z-index: 1;
    position: relative;
    width: 80%;
    padding: 40% 0;
    font-size: 28px;
    color: #878787;
    background: #d8d8d8;
}

.coin-counter-input-container,
.coin-counter-button-container {
    text-align: center;
}

@media (min-width: 0) and (max-width: 959px) {
}
